body{
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #F5F5F5;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 30px;
    margin-left: 10px;
    font-weight: 700;
}

nav ul{
    margin-right: 10px;
}

nav ul li{
    height: 5px;
    width: 40px;
    background-color: #818181;
    border-radius: 5px;
    margin-top: 5px;
}

nav ul li a{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 50px;
}

.pesquisa-compra{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.pesquisa-compra .pesquisa{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.pesquisa input{
    border: none;
    background-color: #F5F5F5;
    height: 20px;
    padding: 10px;
}

.pesquisa input::placeholder{
    color: #828282;
    font-size: 14px;
}

.pesquisa button{
    border: none;
    background-color: #6B54DE;
    color: white;
    height: 40px;
}

.pesquisa-compra .compra{
    width: 100%;
    text-align: center;

}

.compra .compra-titulo{
    background-color: #6B54DE;
    width: 17em;
    margin: auto;
    height: 30px;
    padding-top: 12px;
}

.compra .compra-titulo h2{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.compra .compra-bloco{
    background-color: #F5F5F5;
    margin: auto;
    width: 17em;
    height: 170px;
    padding-top: 60px;
}

.compra .compra-bloco h3{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.compra .compra-bloco button{
    border: none;
    color: #828282;
    background-color: transparent;
    font-size: 14px;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produtos-info{
    width: 310px;
    margin-left: 7px;
    border: 1px solid #F5F5F5;
    margin-bottom: 20px;
}

.produtos-info figure{
    background-color: #F5F5F5;
    text-align: center;
}

.produtos-info figcaption{
    display: none;
}

.produtos-info-descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
}

.produtos-info-descricao div{
    background-color: #2E245E;
    padding: 8px;
    margin-bottom: 15px;
}

.produtos-info-descricao div span{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.produtos-info-descricao h2{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 15px;
}

.produtos-info-descricao p{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #828282;
    margin-bottom: 15px;
}

.produtos-info-descricao span{
    font-size: 12px;
    font-weight: 600;
    color: #2E245E;
    margin-bottom: 15px;
}

.produtos-info-descricao button{
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    margin-left: -6px;
    text-decoration-line: underline;
}

.produtos-info:hover{
    border: 1px solid #2E245E; 
}

.produtos-info-descricao button:hover{
    color: #6B54DE;
}

.compra .compra-bloco button:hover{
    color: #6B54DE;
}

.aviso{
    color: #828282;
    display: none;
}


.quantidade-total{
    color: white;
    background-color: #333333;
    height: 126px;
    width: 272px;
    margin: auto;
    margin-bottom: 20px;
    display: none;
}

.quantidade{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.quantidade p{
    font-weight: 500;
    font-size: 16px;
    margin-left: 17px;
}

.quantidade span{
    color: #828282;
    font-weight: 400;
    font-size: 16px;
    margin-right: 21px;
}

.total{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.total p{
    font-weight: 500;
    font-size: 16px;
    margin-left: 17px;
}

.total span{
    color: #828282;
    font-weight: 400;
    font-size: 16px;
    margin-right: 21px;
}

.item-carrinho{
    display: flex;
    width: 90%;
    padding-left: 20px;
}

.infos-compra{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 15px;
    margin-bottom: 20px;
}

.infos-compra h2{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.infos-compra span{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
    color: #2E245E;
}

.infos-compra button{
    margin-bottom: 10px;
    padding: 0px;
    font-weight: 400;
    font-size: 12px;
    color: #828282;
}

.item-carrinho img{
    width: 80px;
    height: 80px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {
    header h1{
        margin-left: 95px;
    }

    nav{
        margin-right: 40px;
    }

    nav ul{
        display: flex;
        height: 100%;
        width: 346px;
        justify-content: space-around;
    }

    nav ul li{
        background-color: transparent;
        margin-top: 0;
        width: auto;
        height: auto;
    }

    nav ul li a{
        display: block;
        text-decoration: none;
        color: #828282;
        font-size: 16px;
        font-weight: 400;
    }

    nav ul li a:hover{
        color: #6B54DE;
    }

    .todos a{
        color: #333333;
        font-weight: 600;
    }

    main{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 20px;
    }

    .produtos{
        width: 70%;
        margin-top: 0px;
        margin-left: 25px;
        justify-content: flex-start;
    }

    .pesquisa-compra{
        width: 25%;
        margin-left: 10px;
        margin-right: 40px;
    }

    .pesquisa-compra .pesquisa{
        display: flex;
        justify-content: space-between;
    }

    .pesquisa-compra .pesquisa input{
        width: 66%;
    }

    .pesquisa-compra .pesquisa button{
        width: 33%;
    }

    .compra .compra-titulo{
        margin: 0;
        width: 100%;
    }

    .compra .compra-bloco{
        margin: 0;
        width: 100%;
        padding-bottom: 80px;
        padding-top: 90px;
    }

    .produtos-info{
        margin-left: 47px;
        margin-bottom: 61px;
        width: 300px;
    }

    .quantidade-total{
        margin: 0px;
        margin-bottom: 20px;
        width: auto;
    }
}